<%- include('./partials/top')%>

<body class="theme-red">


    <%- include('./partials/topBar')%>
    <%- include('./partials/navBar')%>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">

                            <h1>Service Details</h1>
                        </div>
                        <form action="/updateService" method="post">
                        <table class="table">
                            <tr>
                                <th>Order ID</th>
                                <th><%= data._id%></th>
                            </tr>
                            <tr>
                                <th>User Name</th>
                                <th><%= data.userName%></th>
                            </tr>
                            <tr>
                                <th>Company</th>
                                <th><%= data.company%></th>
                            </tr>
                            <tr>
                                <th>Model</th>
                                <th><%= data.model%></th>
                            </tr>
                            <tr>
                                <th>Engine Type</th>
                                <th><%= data.engineType%></th>
                            </tr>
                            <tr>
                                <th>Jobs</th>
                                <th><%= data.jobs%></th>
                            </tr>
                            <tr>
                                <th>Parts Added</th>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td>Rs. XXXXXX</td>
                            </tr>
                            <tr>
                                <th>Select Part</th>
                                <td>
                                    <div class="col-sm-6">
                                        <select class="form-control"  name="parts">
                                            <option value="">-- Please select parts--</option>
                                            <% for(var i = 0;i<parts.length;i++) {%>
                                            <option value="<%= parts[i]%>"><%= parts[i][0]%></option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <input type="submit" class="btn bg-orange waves-effect">
                                </input>
                                </td>
                            </tr>
                    </table>
                </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
 <%- include('./partials/bottom')%>